---
# API host including protocol and a trailing slash
director_host: "https://director.riff.cc/"

# Folder containing Riff.CC stuff
radio_folder: "/opt/riffcc-radio/"

# HACK: Force IPFS to rehash everything.
force_new_publication: "0"