---
login: true
password: "this.is.your.password"
curator_user: "curator"
curator_pass: "super.secure.walnut.walrus"
curator_host: "127.0.0.1"
qbtpassword: "most.secure.thing.ever"
rccuser: "wings"
rccpass: "hello.world.this.is.riff"
rccauthkey: "1234fakestreet"
page_rows: "200"
radio_folder: "/opt/radio"
force_new_publication: "0"
locator_path: "/var/www/html/public/magic/locator.json"
discord_bot_token: welcomecindytotheuniiiiiverse
discord_bot_permissions: 1073747968
