---
login: true
password: "not.a.real.password"
curator_user: "curator"
curator_pass: "not.a.real.password"
curator_host: "127.0.0.1"
qbtpassword: "not.a.real.password"
rccuser: "wings"
rccpass: "not.a.real.password"
# Your Unit3D authkey
rccauthkey: ""
page_rows: "200"
# Where to publish "radio" files to
radio_folder: "/opt/radio"
# Regenerate the whole tree by salting it (use sparingly)
force_new_publication: "0"
# Where to publish The Magic Locator
locator_path: "/var/www/html/public/magic/locator.json"
# Discord bot token, not yet in use
discord_bot_token: ""
discord_bot_permissions: 1073747968p
